<section id="form">
  <form [formGroup]="cepForm$ | async">
    <div formGroupName="pessoa" class="group__pessoa">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" [dropSpecialCharacters]="false" mask="{{lettersMask}}"
          [patterns]="lettersPatterns" [validation]="false" #nomeInput>
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="sobrenome" [dropSpecialCharacters]="false" mask="{{lettersMask}}"
          [patterns]="lettersPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput type="tel" mask="00/00/0000" formControlName="nasc">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput type="tel" formControlName="cpf" mask="000.000.000-00">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rg" mask="AA.000.000-A">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Orgão Expedidor</mat-label>
        <input matInput type="text" formControlName="oe" mask="SSS" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Profissão</mat-label>
        <input matInput type="text" formControlName="profissao" [dropSpecialCharacters]="false"
          mask="{{alphanumericMask}}" [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Salário</mat-label>
        <input matInput type="tel" formControlName="salario" [dropSpecialCharacters]="false" mask="separator.2"
          thousandSeparator="." prefix="{{prefix}}" [validation]="false" (focus)="salaryInput(true)"
          (blur)="salaryInput(false)">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Consulta</mat-label>
        <!-- <input matInput type="date" formControlName="marcar" [matDatepicker]="picker"> -->
        <input matInput formControlName="marcar" [matDatepicker]="picker" [min]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="(device$ | async)"></mat-datepicker>
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div formGroupName="direcao" class="group__direcao">
      <mat-form-field appearance="outline">
        <mat-label>Cep</mat-label>
        <input matInput type="tel" formControlName="cep" mask="00000-000" (ngModelChange)="searchDirectionByCep()">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro" [dropSpecialCharacters]="false" mask="{{alphanumericMask}}"
          [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>UF</mat-label>
        <mat-select formControlName="uf">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" [dropSpecialCharacters]="false" mask="{{alphanumericMask}}"
          [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" [dropSpecialCharacters]="false" mask="{{alphanumericMask}}"
          [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento" [dropSpecialCharacters]="false" mask="{{alphanumericMask}}"
          [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Referencia</mat-label>
        <input matInput formControlName="referencia" [dropSpecialCharacters]="false" mask="{{alphanumericMask}}"
          [patterns]="alphanumericPatterns" [validation]="false">
        <mat-error>campo obrigatório</mat-error>
      </mat-form-field>
    </div>
    <button mat-button type="button" class="save__button" [disabled]="(cepForm$ | async).invalid"
      (click)="saveForm()">Cadastrar</button>
  </form>
</section>

<section style="width: 100%; margin: 0 auto;">
  <!-- <div *ngFor="let item of address">
    <label for="cep">Cep</label>
    <span id="cep">{{item?.cep || ""}}</span>
  </div> -->

  <div *ngIf="address">
    <div>
      <label for="cep">Cep: </label>
      <span id="cep">{{ address?.cep ? address?.cep : ""}}</span>
    </div>
    <div>
      <label for="logradouro">Logradouro: </label>
      <span id="logradouro">{{ address?.logradouro ? address?.logradouro : ""}}</span>
    </div>
    <div>
      <label for="complemento">Complemento: </label>
      <span id="complemento">{{ address?.complemento ? address?.complemento : ""}}</span>
    </div>
    <div>
      <label for="localidade">Localidade: </label>
      <span id="localidade">{{ address?.localidade ? address?.localidade : ""}}</span>
    </div>
    <div>
      <label for="UF">UF: </label>
      <span id="UF">{{ address?.uf ? address?.uf : ""}}</span>
    </div>
    <div>
      <label for="cep">Unidade: </label>
      <span id="cep">{{ address.unidade ? address.unidade : ""}}</span>
    </div>
    <div>
      <label for="ibge">IBGE: </label>
      <span id="ibge">{{ address?.ibge ?  address?.ibge : ""}}</span>
    </div>
    <div>
      <label for="gia">GIA: </label>
      <span id="gia">{{ address?.gia ? address?.gia : ""}}</span>
    </div>
  </div>
</section>

<ngx-spinner
  bdColor="rgba(51,51,51,0.5)"
  size="medium"
  color="#fff"
  type="timer"
>
  <p style="font-size: 20px; color: white">Salvando...</p>
</ngx-spinner>

