@import "../../styles.scss";

form {
  @include flexbox(row);
  @include orientation(space-around, center);
  width: 100%;
  @media (min-width: 500px) {
    mat-form-field {
        &:last-of-type{
            max-width: 50px;
        }
    }
  }
  @media (max-width: 499px) {
    mat-form-field {
      margin: 0 auto;
      width: 90%;
    }
  }
}

div:last-of-type {
  
}
