/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";

* {
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    cursor: pointer;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin flexbox($row-direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $row-direction;
}

@mixin orientation($horizontal, $vertical) {
  justify-content: $horizontal;
  align-items: $vertical;
}

// Carousel

* {
  box-sizing: border-box;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 50%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
